<section id="contentino" data-info="comments">
    <header>
        <div class="left">
            <ul class="breadcrumb">
              <li><a href="#">Allcity</a> <span class="divider">→</span></li>
              <li class="active">Профиль snapson</li>
            </ul>
        </div>
        <div class="right">
            <form class="form-search">
              <input type="text" class="input-medium search-query" placeholder="поиск по сайту">
              <button type="submit" class="btn">Search</button>
            </form>
        </div>
    </header>
    <div class="result profile">
        <div>
            <div class="leftPart">
                <div class="resultContent">
                    <h1>Пользователь добавил 9 новостей</h1>
                    <div class="article">
                        <a href=""><img src="http://placehold.it/100x100" /></a>
                        <div>
                            <a href=""><h2>La giostra. Тосканский ресторан глазами одесского ресторатора.</h2></a>
                            <a href="" class="category">→ <p>Новости</p></a>
                            <p>
                                Показательный пример – жесткая ротация многопланово имитирует гипнотический рифф, таким образом объектом имитации является число длительностей в каждой из относительно автономных ритмогрупп ведущего голоса.
                            </p>
                            <footer>
                                <p data-class="date">14 сентября, 2012</p>
                                <!--<p data-class="place">Одесса, ул.Дерибасовская 20/4</p>
                                <p data-class="phone">(048) 711-77-77, (048) 11-11-11</p>
                                <p data-class="kitchen">Итальянская, Японская кухни</p>-->
                                <p data-class="comments"><a href="">100500</a></p>
                                <!--<p data-class="user">snapson</p>
                                <p data-class="star">100500</p>-->
                            </footer>
                        </div>
                    </div>
                    <div class="article">
                        <a href=""><img src="http://placehold.it/100x100" /></a>
                        <div>
                            <a href=""><h2>Ритмоформульный open-air в XXI веке. Почему фактурно адажио?</h2></a>
                            <a href="" class="category">→ <p>Новости</p></a>
                            <p>
                                Показательный пример – жесткая ротация многопланово имитирует гипнотический рифф, таким образом объектом имитации является число длительностей в каждой из относительно автономных ритмогрупп ведущего голоса.
                            </p>
                            <footer>
                                <p data-class="date">14 сентября, 2012</p>
                                <p data-class="comments"><a href="">100500</a></p>
                            </footer>
                        </div>
                    </div>
                    <div class="article">
                        <a href=""><img src="http://placehold.it/100x100" /></a>
                        <div>
                            <a href=""><h2>Развлекательный комплекс «PALLADIUM»</h2></a>
                            <a href="" class="category">→ <p>Ночная жизнь</p></a>
                            <p>
                                Клуб Палладиум это хуйня для быдла.
                            </p>
                            <footer>
                                <p data-class="date">14 сентября, 2012</p>
                                <p data-class="comments"><a href="">100500</a></p>
                            </footer>
                        </div>
                    </div>
                    <div class="article">
                        <a href=""><img src="http://placehold.it/100x100" /></a>
                        <div>
                            <a href=""><h2>7-зальный мультиплекс «Синема Сити»</h2></a>
                            <a href="" class="category">→ <p>Кинотеатры</p></a>
                            <p>
                                 Векторно-зеркальная синхронность возможна. Говорят также о фактуре, типичной для тех или иных жанров ("фактура походного марша", "фактура вальса" и пр.), и здесь мы видим, что адажио заканчивает определенный райдер, но если бы песен было раз в пять меньше.
                            </p>
                            <footer>
                                <p data-class="date">14 сентября, 2012</p>
                                <p data-class="comments"><a href="">100500</a></p>
                            </footer>
                        </div>
                    </div>
                    <div class="article">
                        <a href=""><img src="http://placehold.it/100x100" /></a>
                        <div>
                            <a href=""><h2>Торгово-офисный комплекс «Афина»</h2></a>
                            <a href="" class="category">→ <p>Торговые центры</p></a>
                            <p>
                                Пуанта варьирует резкий фузз, и если в одних голосах или пластах музыкальной ткани сочинения еще продолжаются конструктивно-композиционные процессы предыдущей части, то в других - происходит становление новых.
                            </p>
                            <footer>
                                <p data-class="date">14 сентября, 2012</p>
                                <p data-class="comments"><a href="">100500</a></p>
                            </footer>
                        </div>
                    </div>
                    <div class="article">
                        <a href=""><img src="http://placehold.it/100x100" /></a>
                        <div>
                            <a href=""><h2>Спортивный магазин «Adidas»</h2></a>
                            <a href="" class="category">→ <p>Шоппинг</p></a>
                            <p>
                                Линеаризация мышления, не учитывая количества слогов, стоящих между ударениями, последовательно отталкивает деструктивный анапест и передается в этом стихотворении Донна метафорическим образом циркуля.
                            </p>
                            <footer>
                                <p data-class="date">14 сентября, 2012</p>
                                <p data-class="comments"><a href="">100500</a></p>
                            </footer>
                        </div>
                    </div>
                    <div class="event">
                        <a href=""><img src="http://placehold.it/100x100" /></a>
                        <div>
                            <a href=""><h2>Музыкально-поэтический вечер «Время года: осень»</h2></a>
                            <a href="" class="category">→ <p>События</p></a>
                            <p>
                                Очень крутой вечер. Читали стихи, делали вид, что все нравится и вообще вели себя, как будто бы все такие одухотворённые. Клёвые фоточки так же.
                            </p>
                            <footer>
                                <p data-class="date">14 сентября, 2012</p>
                                <p data-class="comments"><a href="">100500</a></p>
                            </footer>
                        </div>
                        <div class="calendar">
                            <p>15</p>
                            <p>сентября</p>
                            <p>воскресенье</p>
                        </div>
                    </div>
                    <div class="event">
                        <a href=""><img src="http://placehold.it/100x100" /></a>
                        <div>
                            <a href=""><h2>Летняя распродажа в спортивном магазине "Adidas"</h2></a>
                            <a href="" class="category">→ <p>События в Шоппинге</p></a>
                            <p>
                                Очень плохая распродажа.
                            </p>
                            <footer>
                                <p data-class="date">14 сентября, 2012</p>
                                <p data-class="comments"><a href="">100500</a></p>
                            </footer>
                        </div>
                        <div class="calendar">
                            <p>13</p>
                            <p>августа</p>
                            <p>воскресенье</p>
                        </div>
                    </div>
                    <div class="article">
                        <a href=""><img src="http://placehold.it/100x100" /></a>
                        <div>
                            <a href=""><h2>Ритмоформульный open-air в XXI веке. Почему фактурно адажио?</h2></a>
                            <a href="" class="category">→ <p>Новости</p></a>
                            <p>
                                Показательный пример – жесткая ротация многопланово имитирует гипнотический рифф, таким образом объектом имитации является число длительностей в каждой из относительно автономных ритмогрупп ведущего голоса.
                            </p>
                            <footer>
                                <p data-class="date">14 сентября, 2012</p>
                                <p data-class="comments"><a href="">100500</a></p>
                            </footer>
                        </div>
                    </div>
                    <div class="article">
                        <a href=""><img src="http://placehold.it/100x100" /></a>
                        <div>
                            <a href=""><h2>Развлекательный комплекс «PALLADIUM»</h2></a>
                            <a href="" class="category">→ <p>Ночная жизнь</p></a>
                            <p>
                                Клуб Палладиум это хуйня для быдла.
                            </p>
                            <footer>
                                <p data-class="date">14 сентября, 2012</p>
                                <p data-class="comments"><a href="">100500</a></p>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rightPart">
                <div class="privateInfo">
                    <div>
                        <img src="http://placehold.it/64x64" alt="Это ваш аватар" />
                        <p><%= @user.username %></p>
                    </div>
                    <h3>Личная информация</h3>
                    <p>Имя: <%= @user.name %></p>
                    <p>Фамилия: <%= @user.surname %></p>
                    <p>День рождения: <%= @user.born_on.strftime("%e %B") %></p>
                    <p>Год рождения: <%= @user.born_on.strftime("%Y") %> г.</p>
                    <p>Пол:
                      <%= @user.female == false ? "Мужской" : "Женский" %>
                    </p>
                    <% if (@user.name == current_user.name) %>
                        <%= link_to(edit_user_registration_path, class: "button") do %>
                            <%= content_tag(:p, "редактировать" ) %>
                        <% end %>
                    <% end %>
                </div>
                <div class="socials">
                    <h3>Социальные сети</h3>
                    <a href="" title="Facebook"><%= image_tag("fb_icon.gif") %></a>
                    <a href="" title="Вконтакте"><%= image_tag("vk_icon.png") %></a>
                </div>
                <div class="invite">
                    <p>Пригласить на портал:</p>
                    <form action="post">
                        <input type="text" name="inviteMail" placeholder="введите e-mail" />
                        <button type="submit" class="simpleBtn">пригласить</button>
                    </form>
                </div>
                <% if (current_user.has_role? :admin) %>
                <div class="myPages">
                    <!--<p>Мои страницы (скрыто)</p>-->
                    <p>Роль</p>
                    <!--<ul>-->
                        <!--<li><a href="">Стейкхаус. Мясо и вино.</a></li>-->
                        <!--<li><a href="">Стейкхаус кафе.</a></li>-->
                    <!--</ul>        -->
                    <ul>
                        <li><%= @user.roles.first.name.titleize unless @user.roles.first.nil? %></li>
                    </ul>
                </div>

                <a data-toggle="modal" id="role" class="simpleBtn" href="#role-options-<%= @user.id %>" class="btn btn-mini" type="button">роли пользователя</a>
                <%= render @user %>
                <!--<a href="" id="role" class="simpleBtn">роли пользователя</a>-->
                <% end %>
            </div>
        </div>
        <div class="pagination">
            <ul>
                <li><a href="#">← Назад</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li class="highlight"><a href="#">Вперед →</a></li>
            </ul>
        </div>
    </div>
</section>




